@section Scripts{

    <script type="text/javascript">


        $(document).ready(function () {
            $(".menu").removeClass("active");
            $(".painel").addClass("active");
        });
    </script>

}




@*<div><p style="text-align: center; font: bold 14px verdana;">
            Escolha seu perfil<br />
            <img src="@Url.Content("~/images/aluno.png")" style="width: 250px; cursor: pointer;" title="Aluno" />
            <img src="@Url.Content("~/images/professor.png")" style="margin-left:30px; width: 250px; cursor: pointer;" title="Professor" />
        </p>
    </div>*@